@using SME.Portal.Web.Areas.App.Startup
@using SME.Portal.Web.Areas.App.Models.FunderSearch
@using System.Globalization
@using SME.Portal.Web.Areas.App.Models.Common.ListItems;

@model FunderSearchesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Sme.FundingApplications;
    TextInfo textInfo = new CultureInfo("en-ZA", false).TextInfo;

}

@section Scripts
{
    <style>
        .sme-label-queued, .sme-label-match, .sme-label-nomatch, .sme-label-locked {
            border-radius: 5px;
        }

        .sme-label-queued {
            background: darkorange;
            color: mintcream;
        }

        .sme-label-match {
            background: green;
            color: aquamarine;
        }

        .sme-label-nomatch {
            background: red;
            color: blanchedalmond;
        }

        .sme-label-locked {
            background: #1BC5BD;
            color: white;
        }

        .wizard-step[data-wizard-state="current"] {
            background-color: #BDE0FF !important;
        }

            .wizard-step[data-wizard-state="current"]:after {
                border-left-color: #BDE0FF !important;
            }
    </style>

    <link href="~/custom/js/sweetalert2/sweetalert2.css" rel="stylesheet" />
    <link href="~/metronic/themes/theme11/css/pages/wizard/wizard-4.css" rel="stylesheet" />

    <script src="~/custom/js/sweetalert2/sweetalert2.js"></script>
    <script src="~/view-resources/Areas/App/Views/SME/FormValidation.js"></script>
    <script src="~/view-resources/areas/app/views/sme/bootstrap.js"></script>

    @{
        await Html.RenderPartialAsync(
            "../Common/_ListItemsPartial.cshtml",
            new ListItemsViewModel()
            {
                ListItems = Model.ListItems,
                Tenant = "finfind"
            }
        );
    }

    <environment include="Development">
        <script src="~/view-resources/Areas/App/Views/Common/sme-common.js" asp-append-version="true"></script>
        <!--<script src="~/view-resources/areas/app/views/sme/onboarding-common.js" asp-append-version="true"></script>-->
        <script src="~/view-resources/Areas/App/Views/FunderSearch/match-polling.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearch/download-funder-search-summary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/Common/html-control.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/ConsumerCredit/index.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production, Staging">
        <script src="~/view-resources/Areas/App/Views/Common/sme-common.min.js" asp-append-version="true"></script>
        <!--<script src="~/view-resources/areas/app/views/sme/onboarding-common.min.js" asp-append-version="true"></script>-->
        <script src="~/view-resources/Areas/App/Views/FunderSearch/match-polling.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearch/download-funder-search-summary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/Common/html-control.min.js" asp-append-version="true"></script>

        <script src="~/view-resources/Areas/App/Views/ConsumerCredit/index.min.js" asp-append-version="true"></script>
    </environment>

    <environment include="Development">
        <script src="~/view-resources/Areas//App/Views/SefaSme/helpers.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_UserProfileSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_OwnerProfileSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_CompanyProfileSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FinancialInfoSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FundingRequirementsSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FundingEssentialsSummary.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_PartialSummaryController.js" asp-append-version="true"></script>
    </environment>

    <environment include="Production, Staging">
        <script src="~/view-resources/Areas//App/Views/SefaSme/helpers.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_UserProfileSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_OwnerProfileSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_CompanyProfileSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FinancialInfoSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FundingRequirementsSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_FundingEssentialsSummary.min.js" asp-append-version="true"></script>
        <script src="~/view-resources/Areas/App/Views/FunderSearchSummary/_PartialSummaryController.min.js" asp-append-version="true"></script>
    </environment>

    <script>
        function actionCallback(action, output) {
            let appId = output.id;
            if (action == 'Reload') {
                if (output.view == 'Index') {
                    location.href = '@Url.Action("Index", "FunderSearch")?reload=' + false;
                } else {
                    location.href = '@Url.Action("Detail", "FunderSearch")?id=' + appId + '&reload=' + false;
                }
            }
        }

        $(document).ready(function () {

            let matchPolling = new SMEMatchPolling(actionCallback, '@Model.Reload', '@Model.View');


            app.fss.controller.renderMatches(
                @Html.Raw(Json.Serialize(Model.Settings)),
                @Html.Raw(Json.Serialize(Model.Owners)),
                @Html.Raw(Json.Serialize(Model.Companies)),
                @Html.Raw(Json.Serialize(Model.ApplicationProperties))
            );

            $('#download-credit-report-id').on('click', function () {
                app.consumerCredit.loadDetail();
                app.consumerCredit.downloadCreditReport(function (status) {

                });
            });

            $('#redirect-to-consumer-credit-id').on('click', function () {
                location.href = '@Url.Action("Index", "ConsumerCredit")';
            });

            window.setTimeout(function () {
                $('#id-funder-search-matches-detail-div').fadeIn(500, 'swing', function () {
                });
            }, 10);
        });
    </script>
}

<div id="id-funder-search-matches-detail-div" style="display:none;">
    <div class="content d-flex flex-column flex-column-fluid" id="kt_content">
        <div><br /></div>
        <div class="@(await GetContainerClass())">

            @{ await Html.RenderPartialAsync("_TopNav.cshtml", 4); }
            <br />

            <div class="card card-custom gutter-b">
                <div class="card card-custom">
                    <div class="card-body">
                        <h4 class="font-weight-bold mb-3">Funder Matches</h4>

                        @{await Html.RenderPartialAsync("_ApplicationView.cshtml");}
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>
