@using SME.Portal.SmeDocuments;
@using SME.Portal.Web.Areas.App.Models.SmeDocuments;

@model SmeDocumentsManageVm
<!--begin: Wizard Step 1-->
<div class="pb-5" data-wizard-type="step-content" data-wizard-state="current">
    <h4 class="mb-10 font-weight-bold text-dark">@L("Document_Title_CIPC")</h4>

    <!--begin::Input-->
    <div class="form-group fv-plugins-icon-container">

        <div class="card-body">
            <div class="form-group">
                <label class="font-weight-bold text-dark" for="finance-for">@L("CompanyName")</label>
                <select class="form-control" id="cipc-smecompanyselector">
                    @{
                        foreach (var company in Model.SmeCompanies)
                        {
                            <option value="@company.SmeCompany.Id">@company.SmeCompany.Name</option>
                        }
                    }
                </select>
                <span class="form-text text-muted">Please select the desired company.</span>
            </div>
            <div class="form-group row">

                    <div class="col-lg-9 col-md-9 col-sm-12">
                        <div class="dropzone dropzone-default dropzone-success dz-clickable" id="cipc-dropzone">
                            @Html.Hidden("DocumentTypeCipc", DocumentTypes.Cipc)
                            <div class="dropzone-msg dz-message needsclick">
                                <h3 class="dropzone-msg-title">Drop files here or click to upload.</h3>
                                <span class="dropzone-msg-desc">Only pdf files are allowed for upload</span>
                            </div>
                        </div>
                    </div>
                    <button id="cipc-submit" type="submit" class="btn btn-light-primary mr-2">Upload</button>

            </div>
        </div>
    </div>
    <!--end::Input-->

</div>
<!--end: Wizard Step 1-->
