@using SME.Portal.Authorization
@using SME.Portal.Web.Areas.App.Models.SmeCompanies
@using SME.Portal.Web.Areas.App.Startup
@model SmeCompaniesViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.SmeCompanies;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/SmeCompanies/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title="@L("SmeCompanies")" description="@L("SmeCompaniesHeaderInfo")">
                     <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            
                     @if (IsGranted(AppPermissions.Pages_Administration_SmeCompanies_Create))
                     {
                         <button id="CreateNewSmeCompanyButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewSmeCompany")</button>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="SmeCompaniesTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetSmeCompaniesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RegistrationNumberFilterId">@L("RegistrationNumber")</label>
									<input type="text" class="form-control" name="registrationNumberFilter" id="RegistrationNumberFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="TypeFilterId">@L("Type")</label>
									<input type="text" class="form-control" name="typeFilter" id="TypeFilterId">
								</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinRegistrationDateFilterId">@L("RegistrationDateRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinRegistrationDateFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxRegistrationDateFilterId">
										</div>
									</div>
                            </div>
                            <div class="col-md-3">
                                    <div class="form-group">
										<label for="MinStartedTradingDateFilterId">@L("StartedTradingDateRange")</label>
										<div class="input-group">
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MinValue")"  id="MinStartedTradingDateFilterId">
											<span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
											<input class="form-control m-input date-picker" type="text" placeholder="@L("MaxValue")"  id="MaxStartedTradingDateFilterId">
										</div>
									</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RegisteredAddressFilterId">@L("RegisteredAddress")</label>
									<input type="text" class="form-control" name="registeredAddressFilter" id="RegisteredAddressFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="CustomersFilterId">@L("Customers")</label>
									<input type="text" class="form-control" name="customersFilter" id="CustomersFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PropertiesJsonFilterId">@L("PropertiesJson")</label>
									<input type="text" class="form-control" name="propertiesJsonFilter" id="PropertiesJsonFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="WebSiteFilterId">@L("WebSite")</label>
									<input type="text" class="form-control" name="webSiteFilter" id="WebSiteFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilterId">(@L("User")) @L("Name")</label>
									<input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
								</div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="SmeCompaniesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>
								<th>@L("RegistrationNumber")</th>
								<th>@L("Type")</th>
								<th>@L("RegistrationDate")</th>
								<th>@L("StartedTradingDate")</th>
								<th>@L("RegisteredAddress")</th>
								<th>@L("VerificationRecordJson")</th>
								<th>@L("Customers")</th>
								<th>@L("BeeLevel")</th>
								<th>@L("Industries")</th>
								<th>@L("PropertiesJson")</th>
								<th>@L("WebSite")</th>
								<th>@L("UserName")</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>