@using SME.Portal.Authorization
@using SME.Portal.Web.Areas.App.Models.FinanceProducts
@using SME.Portal.Web.Areas.App.Startup
@model IManageView
@if(Model.BaseModelType.Equals("ManageFundFormsViewModel")){
    Model.IsEdit = true;
}
<script src="~/view-resources/Areas/App/Views/FinanceProducts/Manage/General.js"></script>

<form id="stepSACitizenForm">
    <div class="step" id="stepSACitizen">
        <h3>SA Citizen</h3>
        <div class="card card-info mb-10">
            <div class="card-body">
                <div class="row">
                    <div class="col-1 card-icon">
                        <i class="fa fa-info-circle"></i>
                    </div>
                    <div class="col">
                        Please select the SA Cititzen field accordingly.
                    </div>
                </div>
            </div>
        </div>
        <div class="form mb-10">
            <div class="form-group row">
                <div class="col-md-4">
                    <label class="pr-4">SA Citizen</label>
                </div>
                <div class="col-md-8">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" onclick="checkBoxStatus(this.id)" class="custom-control-input" name="SACitizen" id="SACitizen" value="true" checked="@(@Model.IsEdit ? @Model.FinanceProduct.SaCitizensOnly : true)">
                        <label class="custom-control-label" for="SACitizen">Yes</label>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-4">
                    <label>
                        Include Permanent Residents
                    </label>
                </div>
                <div class="col-md-8">
                    <div class="check-pad">
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="true" id="IncludePermanentResidentsYes" name="IncludePermanentResidents" class="custom-control-input" checked="@(@Model.IsEdit ? (@Model.FinanceProduct.IncludePermanentResidents != null ? (@Model.FinanceProduct.IncludePermanentResidents == true ? true : false) : false) : @Model.IsEdit)">
                            <label class="custom-control-label" for="IncludePermanentResidentsYes">Yes</label>
                        </div>
                        <div class="custom-control custom-radio custom-control-inline">
                            <input type="radio" value="false" id="IncludePermanentResidentsNo" name="IncludePermanentResidents" class="custom-control-input" checked="@(@Model.IsEdit ? (@Model.FinanceProduct.IncludePermanentResidents != null ? (@Model.FinanceProduct.IncludePermanentResidents == false ? true : false) : false) : true)">
                            <label class="custom-control-label" for="IncludePermanentResidentsNo">No</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
