@using SME.Portal.Web.Areas.App.Models.FinanceProducts
@model ManageFinanceProductViewModel

@{
    Model.BaseModelType = "ManageFinanceProductViewModel";
}

@section Styles
{
    <link href="~/view-resources/Areas/App/Views/FinanceProducts/Manage/ManageStyling.css" rel="stylesheet" />
}

<div class="content d-flex flex-column flex-column-fluid">
    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-8 col-sm-12">
                        @await Html.PartialAsync("_General.cshtml", @Model) 
                        @await Html.PartialAsync("_LoanAmount.cshtml",@Model)
                        @await Html.PartialAsync("_FinanceFor.cshtml",@Model)
                        @await Html.PartialAsync("_SACitizen.cshtml",@Model)
                        @await Html.PartialAsync("_CompanyRegType.cshtml",@Model)
                        @await Html.PartialAsync("_Province.cshtml",@Model)
                        @await Html.PartialAsync("_MonthsTrading.cshtml",@Model)
                        @await Html.PartialAsync("_MonthlyIncome.cshtml",@Model)
                        @await Html.PartialAsync("_Profitability.cshtml",@Model)
                        @await Html.PartialAsync("_Collateral.cshtml",@Model)
                        @await Html.PartialAsync("_Ownership.cshtml",@Model)
                        @await Html.PartialAsync("_BEELevel.cshtml",@Model)
                        @await Html.PartialAsync("_Country.cshtml",@Model)
                        @await Html.PartialAsync("_CustomerTypes.cshtml",@Model)
                        @await Html.PartialAsync("_DocumentType.cshtml",@Model)
                        @await Html.PartialAsync("_LoanIndex.cshtml",@Model)
                        @await Html.PartialAsync("_LoanType.cshtml",@Model)
                        @await Html.PartialAsync("_WebsiteUrl.cshtml",@Model)
                        @await Html.PartialAsync("_ResearchUrl.cshtml",@Model)
                        @await Html.PartialAsync("_Summary.cshtml",@Model)
                        @await Html.PartialAsync("_Comment.cshtml",@Model)
                        @await Html.PartialAsync("_AvgAnnualTurnover.cshtml",@Model)
                        @await Html.PartialAsync("_IndustrySector.cshtml",@Model)
                        <div class="row btn-row">
                            <div class="col-md-12 d-flex" style="justify-content:center;gap:5%;">
                                <button type="button" onclick="submitForm(event,true,false)" class="btn btn-primary">Close</button>
                                <button type="button" onclick="submitForm(event,false,false)" class="btn btn-primary">Updated</button>
                                <button type="button" onclick="submitForm(event,false,true)" class="btn btn-primary">Checked</button>
                                    
                                @Html.HiddenFor(a => a.FinanceProduct.LastCheckedDate)
                                <input type="hidden" id="FinanceProductId" asp-for="@Model.FinanceProduct.Id" />
                                <input type="hidden" asp-for="@Model.FinanceProduct.IsDeleted" />
                                <input type="hidden" id="IsEdit" asp-for="@Model.IsEdit" />
                                <input type="hidden" id="MatchCriteriaJson" asp-for="@Model.FinanceProduct.MatchCriteriaJson" />
                                <input type="hidden" id="LenderId" asp-for="@Model.FinanceProduct.LenderId" />
                                <input type="hidden" id="FinanceProductName" asp-for="@Model.FinanceProduct.Name" />
                                <input type="hidden" id="WebsiteUrls" asp-for="@Model.WebsiteUrls.Count" />
                                <input type="hidden" id="ResearchUrls" asp-for="@Model.ResearchUrls.Count" />
                                <input type="hidden" id="ProvinceTypeLists" asp-for="@Model.ProvinceTypeStrings" />
                                <input type="hidden" id="LenderTypeCheck" asp-for="@Model.FinanceProduct.LenderType"/>
                                <input type="hidden" id="Summary" asp-for="@Model.FinanceProduct.Summary"/>
                                <input type="hidden" id="Comments" asp-for="@Model.FinanceProductComments.Count" />
                                <input type="hidden" id="OwnershipListIds" asp-for="@Model.OwnershipStrings" />
                                <input type="hidden" asp-for="@Model.CurrentStep" />
                                <input type="hidden" asp-for="@Model.NextStep" />
                                <input type="hidden" asp-for="@Model.Checked" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-12" id="MenuStatus">
                        <partial name="../../FinanceProducts/_Menu.cshtml" model="@Model"></partial>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.4/lodash.min.js"></script>
    <script src="~/view-resources/Areas/App/Views/FinanceProducts/Manage/Manage.js"></script>
    <script src="~/view-resources/Areas/App/Views/Trumbowyg/trumbowyg.tab.js"></script>
    <script>$.trumbowyg.svgPath = '/assets/trumbowyg/icons.svg';</script>
    <script>$('#FinanceProduct_Summary').trumbowyg();</script>
    <script>$('#FinanceProduct_Comment').trumbowyg();</script>

    <script type="text/javascript">
        $(function () {

            showStep(null, '@(Model.CurrentStep)')
            InitTrumbowygTab();
        });
    </script>

}