<!--begin: Wizard Step 3 - Employees -->
<div class="pb-5" data-wizard-type="step-content">

        <div class="form-group fv-plugins-icon-container">
            <h4 style="margin-bottom:5px !important;" class="mb-10 font-weight-bold text-dark">@L("FulltimeEmployeesIncPaidASalary")</h4>
            <span style="margin-top:5px !important;" class="form-text text-muted">Including Owners paid a salary</span>
            <!--<p>
        <span class="text-muted">Including Owners paid a salary</span>
    </p>-->
        </div>

        <!--begin::Input Number of full-time employees-->
        <div class="form-group">
            <label for="employees-full-time" class="col-form-label float-left" style="width:70%;">@L("NumberOfFullTimeEmployees") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfFullTimeEmployees" name="numberoffulltimeemployees" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-fulltime-employees-message"></div>

        <!--end::Input-->
        <!--begin::Input full-time women employees-->
        <div class="form-group">
            <label for="employees-full-time-woman" class="col-form-label float-left" style="width:70%;">@L("NumberOfFullTimeWomenEmployees") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfFullTimeWomenEmployees" name="numberoffulltimewomenemployees" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-fulltime-women-employees-message"></div>

        <!--end::Input-->
        <!--begin::-->
        <!--begin::Input full-time women employees-->
        <div class="form-group">
            <label for="employees-full-time-under-35" class="col-form-label float-left" style="width:70%;">@L("NumberOfFullTimeEmployeesUnder35") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfFullTimeEmployeesUnder35" name="numberoffulltimeemployeesunder35" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-fulltime-employees-under35-message"></div>
        <br />
        <br />

        <!--end::input-->
        <div class="form-group">
            <h4 style="margin-bottom:5px !important;" class="mb-10 font-weight-bold text-dark">@L("ParttimeEmployeesIncPaidASalary")</h4>
            <span style="margin-top:5px !important;" class="form-text text-muted">Including Owners paid a salary</span>
        </div>
        <!--begin::Input Number of full-time employees-->
        <div class="form-group">
            <label for="employees-full-time" class="col-form-label float-left" style="width:70%;">@L("NumberOfPartTimeEmployees") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfPartTimeEmployees" name="numberofparttimeemployees" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-parttime-employees-message"></div>

        <!--end::Input-->
        <!--begin::Input full-time women employees-->
        <div class="form-group">
            <label for="employees-full-time-woman" class="col-form-label float-left" style="width:70%;">@L("NumberOfPartTimeWomenEmployees") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfPartTimeWomenEmployees" name="numberofparttimewomenemployees" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-parttime-women-employees-message"></div>

        <!--end::Input-->
        <!--begin::-->
        <!--begin::Input full-time women employees-->
        <div class="form-group">
            <label for="employees-full-time-under-35" class="col-form-label float-left" style="width:70%;">@L("NumberOfPartTimeEmployeesUnder35") </label>
            <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
                <input autocomplete="off" id="NumberOfPartTimeEmployeesUnder35" name="numberofparttimeemployeesunder35" placeholder="0" type="number" min="0" max="100" class="form-control" aria-label="employees-full-time">
            </div>
            <br />
        </div>
        <div id="number-of-parttime-employees-under35-message"></div>

    </div>
<!--end: Wizard Step 3-->
