@using SME.Portal.Web.Areas.App.Startup
@{ ViewBag.CurrentPageName = AppPageNames.Sme.SubscriptionFreeTier; }

<abp-page-subheader title="@L("FreeTier")" description="@L("FreeTierHeaderInfo")"></abp-page-subheader>

<div class="content d-flex flex-column flex-column-fluid" id="kt_content">

    <div class="@(await GetContainerClass())">

        <div class="alert alert-custom alert-primary fade show" role="alert">
            <div class="alert-icon">
                <i class="flaticon-information" aria-label="@L("FreeTierDetails")"></i>
            </div>
            <div class="alert-text">
                <h4 class="alert-heading">@L("FreeTierDetailsPage_Title")</h4>
                <p>@L("FreeTierDetailsPage_Info")</p>
            </div>
        </div>

        <div class="card card-custom gutter-b">

            <div class="card card-custom">
                <div class="card-body">

                </div>
            </div>
        </div>
    </div>
</div>