<h4 class="mb-10 font-weight-bold text-dark">Business Profile</h4>

<div id="id-company-info-message-div" style="display:none;">
    <div class="alert alert-custom alert-outline-primary fade show mb-5" role="alert">
        <div class="row">
            <div class="col-xl-1">
                <div class="alert-icon"><i class="flaticon-information"></i></div>
            </div>
            <div class="col-xl-7">
                <div class="alert-text">
                    <p>
                        Lastly, we’ll need to know a little about the business you need to find funding for.
                    </p>
                </div>
            </div>
            <div class="col-xl-4">
                <button id="id-company-info-message-button"
                        class="btn btn-outline-primary btn-sm mr-6"
                        type="button">
                    <i class="flaticon-edit"></i>
                    Click here to fill in the Business Profile
                </button>
            </div>
        </div>
    </div>
</div>

<div id="id-company-profile-div">

    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Select your Business from the list below</label>
                <select id="id-company-profile-cipc"
                        name="cipc-lookup"
                        class="form-control"
                        value="">
                    <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                </select>
                <span class="form-text text-muted">@L("AsPerCIPCRegistration")</span>
                <div id="cipc-lookup-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label id="id-company-profile-cname-header-label">Business Name</label>
                <input id="id-company-profile-cname"
                       type="text"
                       class="form-control"
                       name="cname"
                       placeholder="Enter Business Name"
                       value="">
                <span id="id-company-profile-cname-footer-span" class="form-text text-muted">@L("AsPerCIPCRegistration")</span>
                <div id="cname-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Company Type</label>
                <select id="id-company-profile-type"
                        name="companyType"
                        class="form-control"
                        value="1">
                    <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                </select>
                <span class="form-text text-muted">@L("AsPerCIPCRegistration")</span>
                <div id="companyType-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Registration Number</label>
                <input id="id-company-profile-reg-no"
                       type="text"
                       class="form-control"
                       name="regno"
                       placeholder="Enter Registration number"
                       value="">
                <span class="form-text text-muted">@L("AsPerCIPCRegistration")</span>
                <div id="regno-message" class="fv-plugins-message-container"></div>
                <input name="duplicate-registration-number-name" style="display:none;" />

                <div id="duplicate-registration-number-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Registration Date</label>
                <div class="input-group">
                    <input id="reg-date"
                           name="registrationdate"
                           type="text"
                           class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
                <span class="form-text text-muted">@L("AsPerCIPCRegistration")</span>
            </div>
            <div class="fv-plugins-message-container"></div>
        </div>

        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Started Trading Date</label>
                <div class="input-group">
                    <input type="text"
                           name="startedtradingdate"
                           id="trading-date"
                           class="form-control">
                    <div class="input-group-append">
                        <span class="input-group-text">
                            <i class="la la-calendar"></i>
                        </span>
                    </div>
                </div>
            </div>
            <span class="form-text text-muted"></span>
            <div id="id-message-started-trading-date-div" class="fv-plugins-message-container"></div>
        </div>

    </div>


    <div class="d-flex justify-content-between border-top mt-5 pt-10"></div>
    <h5 class="mb-8 font-weight-bold text-dark">Registered Address</h5>

    <!--onfocus="geolocate()"-->
    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Registered Business Address</label>
                <input autocomplete="off"
                       id="id-registered-address"
                       type="text"
                       class="form-control"
                       name="name-registered-address"
                       placeholder="Enter your address"
                       data-toggle="tooltip"
                       data-placement="top"
                       data-html="true"
                       title="Please start typing your address and then select the correct option from the list of addresses that returns"/>
                <span class="form-text text-muted"></span>
                <div id="autocomplete-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Address Line 1</label>
                <input id="addr1"
                       type="text"
                       class="form-control"
                       name="regaddr1"
                       placeholder="Address line1"
                       value="">
                <div id="regaddr1-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Address Line 2</label>
                <input id="addr2"
                       type="text"
                       class="form-control"
                       name="regaddr2"
                       placeholder="Address line2"
                       value="">
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>City/Town</label>
                <input id="locality"
                       type="text"
                       class="form-control"
                       name="citytown"
                       placeholder="Enter City/Town"
                       value="">
                <span class="form-text text-muted"></span>
                <div id="citytown-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Postal Code</label>
                <input id="postal_code"
                       type="text"
                       class="form-control"
                       name="postalcode"
                       placeholder="Enter Postal code"
                       value="">
                <span class="form-text text-muted"></span>
                <div id="postalcode-message" class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="id-company-profile-province-div" class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>Province</label>
                <select id="id-company-profile-province-select"
                        name="companyProfileProvinceSelect"
                        class="form-control"
                        value=""
                        disabled>
                    <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                </select>
                <div id="province-message" class="fv-plugins-message-container"></div>
            </div>
        </div>

    </div>

    <div class="d-flex justify-content-between border-top mt-5 pt-10"></div>

    <div class="form-group">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <div class="col-xl-12">
                        <h6 class="font-weight-bolder mb-3">@L("OnboardingCompanyProfileIndustrySector")</h6>
                    </div>
                    <select id="id-company-profile-category-select"
                            name="industrySector"
                            class="form-control">
                        <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                    </select>
                    <span class="form-text text-muted"></span>
                    <div id="industrySector-message" class="fv-plugins-message-container"></div>

                </div>
            </div>
        </div>

        <div class="row" id="id-company-profile-industry-sub-sector-div">
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <div class="col-xl-12">
                        <h6 class="font-weight-bolder mb-3">@L("OnboardingCompanyProfileIndustrySubSector")</h6>
                    </div>
                    <select id="id-company-profile-sub-category-select"
                            name="industrySubSector"
                            class="form-control">
                        <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                    </select>
                    <span class="form-text text-muted"></span>
                    <div id="industrySubSector-message" class="fv-plugins-message-container"></div>

                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xl-12">
                <div class="form-group fv-plugins-icon-container">
                    <div class="col-xl-12">
                        <h6 class="font-weight-bolder mb-3">@L("OnboardingCompanyProfileBeeLevelStr")</h6>
                    </div>
                    <select id="id-company-profile-bee-level-select"
                            name="beeLevel"
                            class="form-control"
                            value="1">
                        <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                        <option value="5af2800e7fbbb21e6817bc42">@L("OnboardingCompanyProfileBeeDontKnow")</option>
                        <option value="5af2803f7fbbb21e6817bc43">@L("OnboardingCompanyProfileBeeLevel1")</option>
                        <option value="5af280497fbbb21e6817bc44">@L("OnboardingCompanyProfileBeeLevel2")</option>
                        <option value="5af2806a7fbbb21e6817bc46">@L("OnboardingCompanyProfileBeeLevel3")</option>
                        <option value="5af2805a7fbbb21e6817bc45">@L("OnboardingCompanyProfileBeeLevel4")</option>
                        <option value="5af280767fbbb21e6817bc47">@L("OnboardingCompanyProfileBeeLevel5")</option>
                        <option value="5af2807d7fbbb21e6817bc48">@L("OnboardingCompanyProfileBeeLevel6")</option>
                    </select>
                    <span class="form-text text-muted"></span>
                    <div id="beeLevel-message" class="fv-plugins-message-container"></div>

                </div>
            </div>
        </div>
    </div>

    @{
        await Html.RenderPartialAsync("business-owners.cshtml");
        await Html.RenderPartialAsync("employees.cshtml");
    }

</div>
