@* ---------------Research Innovation Funding------------- *@
<div id="research-innovation-funding-type" style="display:none">
    <div class="form-group">
        <label class="font-weight-bold text-dark" for="asset-finance">@L("ResearchInnovationFundingOptions")</label>
        <select class="form-control" id="research-innovation-funding-type" name="researchinnovationfundingtype">
            <option disabled selected value="">@L("SelectAnOption")</option>
            <option value="5acb25ce62ba593724e0a786">Developing a new product/process</option>
            <option value="5acb25dd62ba593724e0a787">Filing a patent</option>
            <option value="59d26a5320070a604097b051">Funding for green initiatives</option>
            <option value="5acb25f862ba593724e0a788">New product commercialisation</option>
            <option value="5acb260462ba593724e0a789">Research funding</option>
            <option value="59d26a4820070a604097b050">Tech innovation</option>
        </select>
        <span class="form-text text-muted"></span>
    </div>
</div>

@* New Product Commercialization  *@
<div id="research-innovation-new-product-commercialisation" style="display:none">

    <div class="form-group">
        <label for="" class="font-weight-bold text-dark" style="width:80%;">@L("AreYouCurrentlyAMemberOfAUniversity")</label>
        <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
            <div class="radio-inline">
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresstudentstatus" value="Yes" />
                    <span></span>
                    @L("Yes")
                </label>
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresstudentstatus" value="No" />
                    <span></span>
                    @L("No")
                </label>
            </div>
        </div>
        <span class="form-text text-muted">@L("AreYouCurrentlyAMemberOfAUniversitySubtext")</span>
    </div>

    <div class="form-group">
        <label for="" class="font-weight-bold text-dark" style="width:80%;">@L("WillNewProductIncreaseExports")</label>
        <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
            <div class="radio-inline">
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commreswillincexports" value="Yes" />
                    <span></span>
                    @L("Yes")
                </label>
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commreswillincexports" value="No" />
                    <span></span>
                    @L("No")
                </label>
            </div>
        </div>
        <span class="form-text text-muted">@L("WillNewProductIncreaseExportsSubtext")</span>
    </div>

    <div class="form-group">
        <label for="" class="font-weight-bold text-dark" style="width:80%;">@L("WillThisResultInJobCreation")</label>
        <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
            <div class="radio-inline">
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresresultinjobcreation" value="Yes" />
                    <span></span>
                    @L("Yes")
                </label>
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresresultinjobcreation" value="No" />
                    <span></span>
                    @L("No")
                </label>
            </div>
        </div>
        <span class="form-text text-muted">@L("WillThisResultInJobCreationSubtext")</span>
    </div>

    <div class="form-group">
        <label for="" class="font-weight-bold text-dark" style="width:80%;">@L("WillThisResultInIntroInnovativeProductService")</label>
        <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
            <div class="radio-inline">
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresintroinnov" value="Yes" />
                    <span></span>
                    @L("Yes")
                </label>
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="commresintroinnov" value="No" />
                    <span></span>
                    @L("No")
                </label>
            </div>
        </div>
        <span class="form-text text-muted">@L("WillThisResultInIntroInnovativeProductServiceSubtext")</span>
    </div>

    <div class="form-group">
        <label class="font-weight-bold text-dark" for="">@L("SelectAnyItemsThatMatchNewProductService")</label>
        <select multiple="" class="form-control" id="commresindustries" name="commresindustries">
            <option disabled selected value="">@L("SelectAnOption")</option>
            <option value="5a828904c053780e8c1eb733">@L("3DPrinting")</option>
            <option value="5b1f9d30b958c008605883d4">@L("BiodiversityBenefitingBusinesses")</option>
            <option value="5b1f9d57b958c008605883d7">@L("BiogasBiofuel")</option>
            <option value="5b1f9cf7b958c008605883d2">@L("EcosystemServices")</option>
            <option value="5b1f9c59b958c008605883cc">@L("Electronics")</option>
            <option value="5b1f9cd8b958c008605883d0">@L("EnergyEfficiencyDemandSideManagement")</option>
            <option value="5b1f9d92b958c008605883dc">@L("ImproveQualityOfLife")</option>
            <option value="5b1f9d6eb958c008605883d9">@L("IndustrialCleanerProductionProject")</option>
            <option value="5b1f9d86b958c008605883db">@L("IndustrialCompetitiveness")</option>
            <option value="5b1f9d3db958c008605883d5">@L("LandUserManagementModels")</option>
            <option value="5a8288efc053780e8c1eb732">@L("LeatherWoodCutting")</option>
            <option value="5b1f9d25b958c008605883d3">@L("PaymentForEcosystemServices")</option>
            <option value="5b1f9c58b958c008605883cb">@L("RenewableEnergyInclOffGrid")</option>
            <option value="5b1f9d4ab958c008605883d6">@L("RuralAdaptationProjects")</option>
            <option value="5b1f9c4eb958c008605883ca">@L("SoftwareDesignPrograms")</option>
            <option value="5b1f9cebb958c008605883d1">@L("SustainableHumanSettlements")</option>
            <option value="5b1f9c63b958c008605883cd">@L("SustainableTransport")</option>
            <option value="5b1f9c6fb958c008605883ce">@L("SustainableWasteManagement")</option>
            <option value="5b1f9cb9b958c008605883cf">@L("SustainableWaterManagement")</option>
            <option value="5b1f9d9eb958c008605883dd">@L("TechnologyForPovertyAlleviation")</option>
            <option value="5b1f9d7bb958c008605883da">@L("TechnologyThatHasSocialEconomicImpact")</option>
        </select>
        <span class="form-text text-muted">@L("SelectAnyItemsThatMatchNewProductServiceSubtext")</span>
    </div>

</div>

 @*Research Funding  *@
<div id="research-innovation-research-funding" style="display:none">
    <div class="form-group">
        <label for="" class="font-weight-bold text-dark" style="width:80%;">@L("IsTheResearchAndDevelopmentInUniOrScienceEng")</label>
        <div class="input-group mb-2 mb-sm-0 float-right" style="width: 110px;">
            <div class="radio-inline">
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="researchtakingplaceinuniversity" value="Yes" />
                    <span></span>
                    @L("Yes")
                </label>
                <label class="radio radio-outline radio-primary">
                    <input type="radio" name="researchtakingplaceinuniversity" value="No" />
                    <span></span>
                    @L("No")
                </label>

            </div>
        </div>
        <span class="form-text text-muted">@L("IsTheResearchAndDevelopmentInUniOrScienceEngSubtext")</span>
    </div>

    <div class="form-group">
        <label class="font-weight-bold text-dark" for="research-funding">@L("WhichOfFollowingMatchFieldOfResearch")</label>
        <select class="form-control" id="researchfieldofresearchtype" name="researchfieldofresearchtype">
            <option disabled selected value="">@L("SelectAnOption")</option>
            <option value="5b2a3882b958c008605883f8">@L("BiogasBiofuel")</option>
            <option value="5b2a385fb958c008605883f5">@L("EnergyEfficiency")</option>
            <option value="5b2a3897b958c008605883fa">@L("IndustrialCleanerProductionProject")</option>
            <option value="5b2a38b7b958c008605883fd">@L("IndustrialCompetitiveness")</option>
            <option value="5b2a38a5b958c008605883fb">@L("MarketResearch")</option>
            <option value="5b2a3868b958c008605883f6">@L("RenewableEnergy")</option>
            <option value="5b2a3879b958c008605883f7">@L("RuralEnergyOffGrid")</option>
            <option value="5b2a38adb958c008605883fc">@L("ScienceAndTechnology")</option>
            <option value="5b2a38cab958c008605883fe">@L("SocialAndDevelopmentNeeds")</option>
            <option value="5b2a388cb958c008605883f9">@L("SustainableTransport")</option>
        </select>
        <span class="form-text text-muted">@L("WhichOfFollowingMatchFieldOfResearchSubtext")</span>
    </div>
</div>
