
@using SME.Portal.Web.Areas.App.Models.Common.Modals
@using SME.Portal.Web.Areas.App.Models.CreditReports
@model CreditReportViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="CreditReportInformationsTab">
        
        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("CreditReportJson") :</h6>
                @Model.CreditReport.CreditReportJson.Substring(0,50)
            </div>
            <div class="col-6 mb-3">
                <h6>@L("EnquiryDate") :</h6>
                @Model.CreditReport.EnquiryDate
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("User")) @L("Name") :</h6>
                @Model.UserName
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")

