<h4 class="mb-10 font-weight-bold text-dark">@L("OW_OwnerProfile")</h4>

<div id="id-owner-basic-screening-fail-alert" style="display:none;">
    <div class="row">
        <div class="col-xl-12">

            <div class="alert alert-custom alert-light-danger" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p>Due to the following reasons <b>@L("Sefa")</b> will not allow you to continue with your enquiry.</p>
                    <ul>
                        <li>The user is not a South African citizen</li>
                    </ul>
                    <p>If you would like to be linked with other funders that may match your requirements, please click <a id="a-owner-verify-fail-redirect" href="javascript:void(0)">here</a>.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="parent-owner-has-no-companies-alert" style="display:none;">
    <div class="row">
        <div class="col-xl-12">

            <div class="alert alert-custom alert-light-danger" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p>Due to the following reasons <b>@L("Sefa")</b> will not allow you to continue with your enquiry.</p>
                    <ul>
                        <li>The owner has no registered companies</li>
                    </ul>
                    <p>If you would like to be linked with other funders that may match your requirements, please click <a id="a-owner-has-no-companies-redirect" href="javascript:void(0)">here</a>.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="id-owner-advanced-screening-fail-alert" style="display:none;">
    <div class="row">
        <div class="col-xl-12">

            <div class="alert alert-custom alert-light-danger" role="alert">
                <div class="alert-icon"><i class="flaticon-warning"></i></div>
                <div class="alert-text">
                    <p>Due to the following reasons <b>@L("Sefa")</b> will not allow you to continue with your enquiry.</p>
                    <ul>
                        <li>THIEF!!!</li>
                        <li>TERRORIST!!!</li>
                    </ul>
                    <p>You are welcome to continue your search for finance at <a href="https://finfind.co.za" target="_blank" style="color: #5DA1FF">Finfind <i class="fas fa-external-link-alt"></i></a>.</p>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="id-owner-profile-div">
    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_IdentityNumber")</label>
                
                <span class="option-focus text-align:left" data-toggle="tooltip" data-placement="right" data-html="true" title="<div class='text-justify'> The identity number will be verified with the Department Of Home Affairs and CIPC for the following information:<br/>- South African citizen<br/>- Given names <br/>- Marital Status<br/>- Telephone numbers<br/>- Registered companies<br/></div>">
                    <i class="fa fa-info-circle"></i>
                </span>

                <div class="input-group">
                    <input id="id-owner-profile-id"
                           type="text"
                           name="ownerIdentity"
                           class="form-control"
                           autocomplete="off"
                           placeholder="Enter a South African identity number and click Verify">

                    <div class="input-group-append">

                        <button id="id-owner-verify-identity-button" class="btn btn-primary font-weight-bold" type="button">
                            <b class="la la-warning"></b>
                            <span id="id-owner-verify-identity-span">@L("OW_IdentityVerifyButton")</span>
                        </button>

                    </div>

                </div>
                <span class="form-text text-muted"></span>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row" id="id-owner-mobile-verify-input-div">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_Mobile")</label>

                <span class="option-focus text-align:left" data-toggle="tooltip" data-placement="right" data-html="true" title="Verification required via OTP sent by SMS">
                    <i class="fa fa-info-circle"></i>
                </span>

                <div class="input-group">
                    <input id="id-owner-profile-mobile"
                           type="text"
                           name="mobile"
                           class="form-control"
                           autocomplete="off"
                           placeholder="Enter your mobile number and click Verify">
                    <div class="input-group-append">

                        <button id="id-owner-mobile-verify-input-button" class="btn btn-primary font-weight-bold" type="button">
                            <b class="la la-warning"></b>
                            <span id="id-owner-profile-span">@L("OW_MobileVerifyButton")</span>
                        </button>

                    </div>
                </div>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row" id="id-owner-mobile-verify-select-div" style="display:none;">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_Mobile")</label>
                <div class="input-group">
                    <select value=""
                            id="id-owner-mobile-verify-select"
                            type="text"
                            name="name-owner-mobile-verify-select"
                            class="form-control">
                        <option value="" disabled selected hidden>Select mobile number</option>
                    </select>
                    <div class="input-group-append">
                        <button id="id-owner-mobile-verify-button" class="btn btn-primary font-weight-bold" type="button">
                            <b class="la la-warning"></b>
                            <span id="id-owner-mobile-verify-button-span">@L("OW_MobileVerifyButton")</span>
                        </button>
                    </div>
                </div>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_EmailAddr")</label>
                <input id="id-owner-profile-email"
                       type="email"
                       class="form-control"
                       name="email"
                       placeholder="Enter email address"
                       autocomplete="off"
                       value="">
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_FirstName")</label>
                <div class="input-group">
                    <div class="input-group-prepend">
                        <select id="id-select-owner-profile-title"
                                name="name-select-owner-profile-title"
                                class="form-control"
                                value="">
                            <option value="" disabled selected hidden>Title</option>
                        </select>
                    </div>
                    <input id="id-owner-profile-fname"
                           type="text"
                           class="form-control"
                           name="fname"
                           placeholder=""
                           value="">
                </div>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>

        <div class="col-xl-6">
            <div class="form-group">
                <label>@L("OW_LastName")</label>
                <input id="id-owner-profile-lname"
                       type="text"
                       class="form-control"
                       name="lname"
                       placeholder=""
                       value="">
            </div>

        </div>
    </div>

    <div class="row">

        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_Gender")</label>
                <div class="d-flex">
                    <input id="id-owner-profile-gender"
                           name="validate-owner-profile-gender"
                           type="text"
                           class="form-control"
                           placeholder=""
                           disabled>
                </div>
                <span class="form-text text-muted">@L("OW_SourceFromDHA")</span>
            </div>
        </div>
        <div class="form-group fv-plugins-message-container"></div>

        <div class="col-xl-6" id="root-input-owner-profile-marital-status">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_MaritalStatus")</label>
                <div class="input-group">
                    <input
                            id="id-owner-profile-marital-status"
                            name="validate-owner-profile-marital-status"
                            type="text"
                            class="form-control"
                            placeholder=""
                            disabled>
                </div>

                <span class="form-text text-muted">@L("OW_SourceFromDHA")</span>
                <div class="form-group fv-plugins-message-container"></div>
            </div>
        </div>

        <div class="col-xl-6" id="root-select-owner-profile-marital-status" style="display:none;">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_MaritalStatus")</label>
                <div class="input-group">
                    <select
                            id="select-owner-profile-marital-status"
                            name="select-owner-profile-marital-status"
                            class="form-control"
                            value="">
                        <option value="" disabled selected hidden>Select an option</option>
                        <option>Married</option>
                        <option>Single</option>
                        <option>Divorced</option>
                        <option>Widowed</option>
                    </select>

                </div>

                <span class="form-text text-muted">@L("OW_SourceFromDHA")</span>
                <div class="form-group fv-plugins-message-container"></div>
            </div>
        </div>

    </div>

    <div class="row" id="id-div-owner-married-in-cop" style="display:none;">
        <div class="form-group">
            <div class="col-xl-12">
                <label for="name-input-owner-married-in-cop" class="col-form-label">Are you married in Community of Property?</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="radio-inline">
                        <label class="radio radio-outline radio-primary">
                            <input type="radio" name="name-input-owner-married-in-cop" value="Yes" />
                            <span></span>
                            Yes
                        </label>
                        <label class="radio radio-outline radio-primary">
                            <input type="radio" name="name-input-owner-married-in-cop" value="No" />
                            <span></span>
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group fv-plugins-message-container"></div>
            <span class="form-text text-muted"></span>
        </div>
    </div>

    <div class="row" id="id-div-owner-spouse-identity" style="display:none;">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Spouse's' Identity Number</label>
                <div class="input-group">
                    <input id="id-input-owner-spouse-identity"
                           type="text"
                           name="name-input-owner-spouse-identity"
                           class="form-control"
                           autocomplete="off"
                           placeholder="Enter a South African identity number and click Verify">
                </div>
                <span class="form-text text-muted"></span>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
        <div class="form-group fv-plugins-message-container"></div>
    </div>

    <div class="row">
        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_Age")</label>
                <div class="d-flex">
                    <input id="id-owner-profile-age"
                           name="validate-owner-profile-age"
                           type="text"
                           class="form-control"
                           placeholder=""
                           disabled>
                </div>
                <span class="form-text text-muted">@L("OW_SourceFromDHA")</span>
            </div>
        </div>
        <div class="form-group fv-plugins-message-container"></div>


        <div class="col-xl-6">
            <div class="form-group fv-plugins-icon-container">
                <label>@L("OW_Race")</label>
                <select id="id-owner-profile-race"
                        name="race"
                        class="form-control"
                        value="">
                    <option value="" disabled selected hidden>@L("SelectAnOption")</option>
                </select>
                <span class="form-text text-muted">@L("OW_SelectOwnerRace")</span>
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <div class="col-xl-12">
                <label for="input-owner-is-disabled" class="col-form-label">Are you disabled?</label>
                <div class="input-group mb-2 mb-sm-0">
                    <div class="radio-inline">
                        <label class="radio radio-outline radio-primary">
                            <input type="radio" name="input-owner-is-disabled" value="Yes" />
                            <span></span>
                            Yes
                        </label>
                        <label class="radio radio-outline radio-primary">
                            <input type="radio" name="input-owner-is-disabled" value="No" />
                            <span></span>
                            No
                        </label>
                    </div>
                </div>
            </div>
            <div class="form-group fv-plugins-message-container"></div>
            <span class="form-text text-muted"></span>
        </div>
    </div>

    <div class="row" id="id-div-owner-profile-race-other" style="display:none;">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Race ( Other )</label>
                <input id="id-input-owner-profile-race-other"
                       name="name-input-owner-profile-race-other"
                       type="text"
                       class="form-control"
                       placeholder="Please enter your race">
                <div class="fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

    <div class="row" id="id-div-owner-profile-registered-address">
        <div class="col-xl-12">
            <div class="form-group fv-plugins-icon-container">
                <label>Physical Address of Owner</label>
                <div class="input-group">
                    <input id="id-input-owner-profile-registered-address"
                           name="name-input-owner-profile-registered-address"
                           type="text"
                           class="form-control"
                           autocomplete="nope"
                           placeholder="Enter registered address"
                           value="">
                </div>
                <div class="form-group fv-plugins-message-container"></div>
            </div>
        </div>
    </div>

</div>
