@using SME.Portal.Authorization
@using SME.Portal.Web.Areas.App.Models.Owners
@using SME.Portal.Web.Areas.App.Startup
@model OwnersViewModel
@{
    ViewBag.CurrentPageName = AppPageNames.Tenant.Owners;
}
@section Scripts
{
    <script abp-src="/view-resources/Areas/App/Views/Owners/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

                <abp-page-subheader title="@L("Owners")" description="@L("OwnersHeaderInfo")">
                     <button id="ExportToExcelButton" class="btn btn-outline-success"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>
            
                     @if (IsGranted(AppPermissions.Pages_Administration_Owners_Create))
                     {
                         <button id="CreateNewOwnerButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewOwner")</button>                
                     }
                </abp-page-subheader>
            
<div class="@(await GetContainerClass())">   
    <div class="card card-custom gutter-b">
        <div class="card-body">
            <div class="form">
                <div class="row align-items-center mb-4">
                    <div class="col-xl-12">
                        <div class="form-group align-items-center">
                            <div class="input-group">
                                <input type="text" id="OwnersTableFilter" class="form-control m-input" placeholder="@L("SearchWithThreeDot")" value="@Model.FilterText">
                                <span class="input-group-btn">
                                    <button id="GetOwnersButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
			</div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
						<div class="kt-separator kt-separator--border-dashed"></div>
					</div>

							<div class="col-md-3">
								<div class="form-group">
									<label for="NameFilterId">@L("Name")</label>
									<input type="text" class="form-control" name="nameFilter" id="NameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="SurnameFilterId">@L("Surname")</label>
									<input type="text" class="form-control" name="surnameFilter" id="SurnameFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="EmailAddressFilterId">@L("EmailAddress")</label>
									<input type="text" class="form-control" name="emailAddressFilter" id="EmailAddressFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="PhoneNumberFilterId">@L("PhoneNumber")</label>
									<input type="text" class="form-control" name="phoneNumberFilter" id="PhoneNumberFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="IsPhoneNumberConfirmedFilterId">@L("IsPhoneNumberConfirmed")</label>
								<select class="form-control" name="IsPhoneNumberConfirmedFilter" id="IsPhoneNumberConfirmedFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="IdentityOrPassportFilterId">@L("IdentityOrPassport")</label>
									<input type="text" class="form-control" name="identityOrPassportFilter" id="IdentityOrPassportFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<label for="IsIdentityOrPassportConfirmedFilterId">@L("IsIdentityOrPassportConfirmed")</label>
								<select class="form-control" name="IsIdentityOrPassportConfirmedFilter" id="IsIdentityOrPassportConfirmedFilterId">
									<option value="-1">@L("All")</option>
									<option value="0">@L("False")</option>
									<option value="1">@L("True")</option>
								</select>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="RaceFilterId">@L("Race")</label>
									<input type="text" class="form-control" name="raceFilter" id="RaceFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="VerificationRecordJsonFilterId">@L("VerificationRecordJson")</label>
									<input type="text" class="form-control" name="verificationRecordJsonFilter" id="VerificationRecordJsonFilterId">
								</div>
                            </div>
							<div class="col-md-3">
								<div class="form-group">
									<label for="UserNameFilterId">(@L("User")) @L("Name")</label>
									<input type="text" class="form-control" name="userNameFilter" id="UserNameFilterId">
								</div>
                            </div>
                </div>
                <div class="row mb-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
            <div class="row align-items-center">
                <table id="OwnersTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                    <thead>
                        <tr>
                            <th></th>
                            
                            <th>@L("Actions")</th>
								<th>@L("Name")</th>
								<th>@L("Surname")</th>
								<th>@L("EmailAddress")</th>
								<th>@L("PhoneNumber")</th>
								<th>@L("IsPhoneNumberConfirmed")</th>
								<th>@L("IdentityOrPassport")</th>
								<th>@L("IsIdentityOrPassportConfirmed")</th>
								<th>@L("Race")</th>
								<th>@L("VerificationRecordJson")</th>
								<th>@L("UserName")</th>
                            
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
  </div>
</div>